**MAJOR ISSUR: Adding more categorical and numerical features will screw up the indexes that the rest of the code relies on !!!!!!!!!!!!**

# Imports

In [15]:
# Import libraries
import pandas as pd
from tqdm.notebook import tqdm
import datetime as dt
import yfinance as yf
import numpy as np

# Company tickers

In [8]:
# Get symbols for the top 1000 companies in the world by market cap
symbols = pd.read_csv("data/largest companies list.csv")["Symbol"]

# Stock price data

In [9]:
# For importing other data
start_date = dt.datetime(1980,1,1).date()
today_date = dt.datetime.now().date()

stocks = [stock.replace(".", "-") for stock in symbols]
stocks_df = yf.download(stocks, start=start_date, end=today_date, interval="1d")

# low_df = stocks_df.loc[:,"Low"]
# low_df.columns = [stock.replace("-", ".") for stock in low_df.columns]
# low_df.to_csv("data/low.csv") 

# high_df = stocks_df.loc[:,"High"]
# high_df.columns = [stock.replace("-", ".") for stock in high_df.columns]
# high_df.to_csv("data/high.csv") 

# volume_df = stocks_df.loc[:,"Volume"]
# volume_df.columns = [stock.replace("-", ".") for stock in volume_df.columns]
# volume_df.to_csv("data/volume.csv") 

stocks_df = stocks_df.loc[:,"Adj Close"]
stocks_df.columns = [stock.replace("-", ".") for stock in stocks_df.columns]
stocks_df.to_csv("data/price.csv")

stocks_df

[*********************100%***********************]  1005 of 1005 completed

20 Failed downloads:
- ABC: No data found, symbol may be delisted
- UNVR: No data found, symbol may be delisted
- UMPQ: No data found, symbol may be delisted
- HZNP: No data found, symbol may be delisted
- LSI: No data found, symbol may be delisted
- SGFY: No data found, symbol may be delisted
- HHC: No data found, symbol may be delisted
- PDCE: No data found, symbol may be delisted
- SYNH: No data found, symbol may be delisted
- FISV: No data found, symbol may be delisted
- BKI: No data found, symbol may be delisted
- RE: No data found, symbol may be delisted
- SIVB: No data found, symbol may be delisted
- IAA: No data found, symbol may be delisted
- FRC: No data found, symbol may be delisted
- PKI: No data found, symbol may be delisted
- WWE: No data found, symbol may be delisted
- OSH: No data found, symbol may be delisted
- COUP: No data found, symbol may be delisted
- STOR: No data found, symbol may be delisted

,A,AA,AAL,AAP,AAPL,ABBV,ABC,ABNB,ABT,ACGL,...,YUM,Z,ZBH,ZBRA,ZG,ZI,ZION,ZM,ZS,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1980-01-02,NaN,3.217068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-03,NaN,3.187954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-04,NaN,3.187954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-07,NaN,3.246180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-08,NaN,3.289852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-04,128.880005,26.809999,13.35,55.630001,189.429993,144.149994,NaN,133.699997,105.190002,81.989998,...,125.650002,44.090000,116.889999,239.369995,42.330002,14.71,38.680000,68.160004,198.259995,182.119995
2023-12-05,127.879997,25.240000,13.13,53.160000,193.419998,144.570007,NaN,133.710007,104.349998,81.849998,...,124.379997,44.290001,115.820000,234.360001,42.520000,14.48,37.389999,68.720001,198.910004,179.649994
2023-12-06,128.910004,25.120001,13.48,55.160000,192.320007,146.380005,NaN,135.309998,104.940002,79.970001,...,124.809998,45.090000,116.129997,234.130005,43.490002,15.50,37.150002,70.940002,197.910004,182.000000
2023-12-07,128.679993,24.940001,13.91,56.250000,194.270004,147.970001,NaN,139.839996,104.050003,78.339996,...,124.269997,46.730000,117.290001,233.229996,45.009998,15.24,38.380001,71.930000,200.050003,181.830002
2023-12-08,127.199997,25.020000,13.76,56.270000,195.710007,149.279999,NaN,140.679993,104.510002,79.300003,...,124.339996,46.410000,117.300003,236.130005,44.660000,15.64,38.930000,73.059998,198.800003,184.600006

# Features

## Categorical variable(s)

In [ ]:
# ############## This no longer works due to changes in yahoo api. 

# # Get the sector associated with each company.
# symbols_data = yf.Tickers(list(symbols))
# sectors = []
# stocks = []
# range_tqdm = tqdm(range(len(symbols)))
# for i in range_tqdm:
#     try:
#         sectors.append(symbols_data.tickers[symbols[i]].info["sector"])
#     except KeyError:
#         pass
#     except TypeError:
#         pass
#     else:
#         stocks.append(symbols[i])

In [ ]:
# sector_stock = pd.Series(data=sectors, index=stocks)
# cat_variables = pd.DataFrame(columns=symbols, data=[sector_stock])
# cat_variables.index = ["sectors"]
# cat_variables.to_csv("data/categorical.csv")
# cat_variables

## Numerical features

In [11]:
first_date = stocks_df.index[0]
last_date = stocks_df.index[-1]

In [12]:
leading_indicators = pd.read_csv(f"https://stats.oecd.org/SDMX-JSON/data/MEI_CLI/LOLITOAA+BSCICP03+CSCICP03.USA.M/all?startTime={first_date.year}-0{first_date.month}&endTime={last_date.year}-{last_date.month}&dimensionAtObservation=allDimensions&contentType=csv")

remap = {"BSCICP03": "BCI", # Business confidence indicator (BCI)
         "CSCICP03":"CCI", # Comsumer confidence indicator (CCI)
         "LOLITOAA":"CLI"} # Composite leading indicator (CLI)
leading_indicators.replace({"SUBJECT": remap},inplace=True)

leading_indicators = leading_indicators.drop(columns=["Subject",
                                                      "LOCATION",
                                                      "Country",
                                                      "FREQUENCY",
                                                      "Frequency",
                                                      "Time",
                                                      "Unit Code",
                                                      "Unit",
                                                      "PowerCode Code",
                                                      "PowerCode",
                                                      "Reference Period Code",
                                                      "Reference Period",
                                                      "Flag Codes",
                                                      "Flags"]
                                             ).set_index("TIME")

leading_indicators = leading_indicators.pivot(columns="SUBJECT", values="Value")
leading_indicators.index = pd.to_datetime(leading_indicators.index)
leading_indicators

SUBJECT          BCI       CCI       CLI
TIME
1980-01-01  98.62267  97.47330  98.40590
1980-02-01  98.46214  97.26473  98.08446
1980-03-01  97.60076  96.72263  97.77750
1980-04-01  96.37575  96.30186  97.60777
1980-05-01  95.38712  96.26688  97.66728
...              ...       ...       ...
2023-07-01  98.58562  97.92149  99.27969
2023-08-01  98.72515  98.00140  99.38261
2023-09-01  98.79597  97.83078  99.45039
2023-10-01  98.69114  97.49587  99.48627
2023-11-01  98.56860  97.12985  99.51036

[527 rows x 3 columns]

In [13]:
more_indicators = pd.read_csv(f"https://stats.oecd.org/SDMX-JSON/data/KEI/PRINTO01+PRMNTO01+PRCNTO01+SLRTTO01+SLRTCR03+LOLITOAA+BSCICP02+LFEMTTTT+LCEAMN01+PIEAMP01+CPALTT01+MANMM101+MABMM301+IR+IRSTCI01+IR3TIB01+IRLTLT01.USA.ST.M/all?startTime={first_date.year}-0{first_date.month}&endTime={last_date.year}-{last_date.month}&dimensionAtObservation=allDimensions&contentType=csv")

more_indicators = more_indicators.drop(columns=["SUBJECT",
                                                "LOCATION",
                                                "Country",
                                                "MEASURE",
                                                "Measure",
                                                "FREQUENCY",
                                                "Frequency",
                                                "Time",
                                                "Unit Code",
                                                "Unit",
                                                "PowerCode Code",
                                                "PowerCode",
                                                "Reference Period Code",
                                                "Reference Period",
                                                "Flag Codes",
                                                "Flags"]
                                       ).set_index("TIME")

more_indicators = more_indicators.pivot(columns="Subject", values="Value")
more_indicators.index = pd.to_datetime(more_indicators.index)

more_indicators.columns = ["3 month interbank rate",
                           "Broad money",
                           "Construction",
                           "Consumer prices",
                           "Manufacturing hourly earnings",
                           "Industrial production",
                           "Leading indicator",
                           "Long-term interest rate", # Long-term interest rates refer to government bonds maturing in ten years
                           "Manufacturing confidence indicator",
                           "Narrow money",
                           "Overnight interbank rate",
                           "Car registrations",
                           "Manufacturing producer prices",
                           "Retail trade volume",
                           "Total employment",
                           "Total manufacturing"]

more_indicators

,3 month interbank rate,Broad money,Construction,Consumer prices,Manufacturing hourly earnings,Industrial production,Leading indicator,Long-term interest rate,Manufacturing confidence indicator,Narrow money,Overnight interbank rate,Car registrations,Manufacturing producer prices,Retail trade volume,Total employment,Total manufacturing
TIME,,,,,,,,,,,,,,,,
1980-01-01,13.39,12.309570,23.248492,32.824650,34.265617,51.500919,98.405900,10.80,-7.6,12.768598,13.82,150.441655,43.209824,56.923503,99879.0,50.096742
1980-02-01,14.30,12.408365,22.398527,33.288751,34.567074,51.524114,98.084454,12.41,0.4,12.910913,14.13,139.164508,43.830804,55.764127,99995.0,50.047455
1980-03-01,17.57,12.451536,21.002793,33.795044,34.918774,51.304647,97.777502,12.75,-12.8,12.854649,17.19,126.492661,44.244791,54.229062,99713.0,49.619129
1980-04-01,16.14,12.471461,19.563065,34.174764,35.019260,50.293949,97.607763,11.47,-25.2,12.702405,17.61,107.670851,44.658777,52.982982,99233.0,48.618206
1980-05-01,9.79,12.555313,18.155044,34.512292,35.270474,49.057935,97.667284,10.18,-41.2,12.735502,10.98,97.629010,44.865770,52.433379,98945.0,47.184766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,5.35,173.213174,176.265106,128.974293,133.093284,102.365442,99.279683,3.90,-7.2,609.900793,5.12,42.691107,NaN,119.229222,161262.0,99.250929
2023-08-01,5.44,172.894372,179.947775,129.537544,133.143527,102.390918,99.382612,4.17,-4.8,605.776980,5.33,41.163578,NaN,119.382860,161484.0,99.292035
2023-09-01,5.49,172.309902,180.357329,129.859462,133.796684,102.461892,99.450384,4.38,-2.0,601.408253,5.33,42.770804,NaN,119.828973,161570.0,99.469432
2023-10-01,5.46,NaN,181.463258,129.809676,134.047898,101.811421,99.486267,4.80,-6.6,NaN,5.33,41.336256,NaN,NaN,161222.0,98.797061
2023-11-01,5.41,NaN,NaN,NaN,NaN,NaN,99.510359,4.50,-6.6,NaN,5.33,NaN,NaN,NaN,161969.0,NaN

## Combining numerical features into a daily-dataframe

Using "daily" since stock prices are given with daily fequency.

In [16]:
features_monthly = pd.concat([leading_indicators,
                              more_indicators], axis = "columns")

features_monthly.loc[stocks_df.index[-1],:] = [np.nan] * len(features_monthly.columns) # This is to ensure that every day in the stocks_df has a corresponding column
features_daily = features_monthly.resample("D").nearest()
# features_daily = pd.concat([features_daily, yield_curve], axis = "columns") ######################## why is this hash-tagged-out?? is it only if I use yield curve?? try with hashed-out first

# Filter so that the index of this df matches up with the index of `stocks_df` so you can convert into numpy array
features_daily = features_daily.loc[stocks_df.index,:]

features_daily = features_daily.drop(columns = ["Leading indicator"])

features_daily = features_daily.fillna(method="ffill")
features_daily.to_csv("data/features.csv")

features_daily

,BCI,CCI,CLI,3 month interbank rate,Broad money,Construction,Consumer prices,Manufacturing hourly earnings,Industrial production,Long-term interest rate,Manufacturing confidence indicator,Narrow money,Overnight interbank rate,Car registrations,Manufacturing producer prices,Retail trade volume,Total employment,Total manufacturing
Date,,,,,,,,,,,,,,,,,,
1980-01-02,98.62267,97.47330,98.40590,13.39,12.309570,23.248492,32.824650,34.265617,51.500919,10.8,-7.6,12.768598,13.82,150.441655,43.209824,56.923503,99879.0,50.096742
1980-01-03,98.62267,97.47330,98.40590,13.39,12.309570,23.248492,32.824650,34.265617,51.500919,10.8,-7.6,12.768598,13.82,150.441655,43.209824,56.923503,99879.0,50.096742
1980-01-04,98.62267,97.47330,98.40590,13.39,12.309570,23.248492,32.824650,34.265617,51.500919,10.8,-7.6,12.768598,13.82,150.441655,43.209824,56.923503,99879.0,50.096742
1980-01-07,98.62267,97.47330,98.40590,13.39,12.309570,23.248492,32.824650,34.265617,51.500919,10.8,-7.6,12.768598,13.82,150.441655,43.209824,56.923503,99879.0,50.096742
1980-01-08,98.62267,97.47330,98.40590,13.39,12.309570,23.248492,32.824650,34.265617,51.500919,10.8,-7.6,12.768598,13.82,150.441655,43.209824,56.923503,99879.0,50.096742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-04,98.56860,97.12985,99.51036,5.41,172.309902,181.463258,129.809676,134.047898,101.811421,4.5,-6.6,601.408253,5.33,41.336256,131.749933,119.828973,161969.0,98.797061
2023-12-05,98.56860,97.12985,99.51036,5.41,172.309902,181.463258,129.809676,134.047898,101.811421,4.5,-6.6,601.408253,5.33,41.336256,131.749933,119.828973,161969.0,98.797061
2023-12-06,98.56860,97.12985,99.51036,5.41,172.309902,181.463258,129.809676,134.047898,101.811421,4.5,-6.6,601.408253,5.33,41.336256,131.749933,119.828973,161969.0,98.797061
2023-12-07,98.56860,97.12985,99.51036,5.41,172.309902,181.463258,129.809676,134.047898,101.811421,4.5,-6.6,601.408253,5.33,41.336256,131.749933,119.828973,161969.0,98.797061
2023-12-08,98.56860,97.12985,99.51036,5.41,172.309902,181.463258,129.809676,134.047898,101.811421,4.5,-6.6,601.408253,5.33,41.336256,131.749933,119.828973,161969.0,98.797061