# 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import yfinance as yf

# 2. Data Collection

## 2.1 Company tickers  
Get symbols for the top 1000 companies in the US by market cap

In [2]:
stock_ticker_symbols = pd.read_csv("data/largest companies list.csv")["Symbol"]

## 2.2 Stock price data  
Get the adjusted stock price data at daily frequency.

In [3]:
start_date = datetime(1980,1,1).date()
today_date = datetime.now().date()

# Get daily stock-price data
stock_ticker_symbols = [stock_ticker_symbol.replace(".", "-") for stock_ticker_symbol in stock_ticker_symbols]
stock_prices_df = yf.download(stock_ticker_symbols, start=start_date, end=today_date, interval="1d")

# We are only interested in the adjusted closing price
stock_prices_df = stock_prices_df.loc[:,"Adj Close"]
stock_prices_df.columns = [stock.replace("-", ".") for stock in stock_prices_df.columns]
stock_prices_df.to_csv("data/price.csv")

stock_prices_df

[*********************100%***********************]  1005 of 1005 completed

26 Failed downloads:
['WWE', 'BKI', 'FISV', 'ATVI', 'OSH', 'SGFY', 'WE', 'HZNP', 'COUP', 'STOR', 'HHC', 'FRC', 'UMPQ', 'NATI', 'UNVR', 'NCR', 'PKI', 'LSI', 'NEWR', 'SYNH', 'ABC', 'IAA', 'PDCE', 'PACW', 'RE', 'SIVB']: Exception('%ticker%: No timezone found, symbol may be delisted')

,A,AA,AAL,AAP,AAPL,ABBV,ABC,ABNB,ABT,ACGL,...,YUM,Z,ZBH,ZBRA,ZG,ZI,ZION,ZM,ZS,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1980-01-02,NaN,3.217068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-03,NaN,3.187953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-04,NaN,3.187953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-07,NaN,3.246183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-08,NaN,3.289852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-06,135.860001,27.620001,14.90,66.370003,189.058762,173.289993,NaN,144.529999,114.000000,83.300003,...,127.269997,57.060001,127.599998,242.490005,55.340000,15.36,38.900002,63.599998,234.729996,196.139999
2024-02-07,132.789993,27.530001,14.91,66.089996,189.168625,175.009995,NaN,147.550003,113.309998,84.419998,...,129.639999,57.250000,127.550003,247.110001,55.549999,15.31,39.189999,63.880001,244.660004,197.089996
2024-02-08,134.070007,27.709999,14.95,64.139999,188.080017,174.789993,NaN,150.539993,112.430000,82.760002,...,130.399994,56.279999,123.040001,247.119995,54.470001,15.11,39.889999,63.900002,249.410004,195.750000
2024-02-09,133.339996,26.889999,14.88,63.299999,188.850006,174.080002,NaN,147.595001,111.809998,83.459999,...,130.270004,54.950001,122.800003,253.089996,53.259998,15.39,40.090000,65.699997,254.929993,197.320007
2024-02-12,132.309998,27.900000,14.93,66.050003,187.149994,173.070007,NaN,153.800003,112.529999,83.099998,...,131.360001,55.480000,125.849998,259.399994,53.669998,16.02,41.240002,64.480003,253.860001,196.690002

## 2.3 Features

### 2.3.1 Categorical variable(s)  
Get the sector (energy, IT, healthcare, etc) associated with each company.  
*(Note that this no longer works due to changes in Yahoo API.)*

In [5]:
# # Get the sector associated with each company
# symbols_data = yf.Tickers(list(stock_ticker_symbols))

# sectors = []
# stock_ticker_symbols_filtered = []

# for i in range(len(stock_ticker_symbols)):
#     try:
#         sectors.append(symbols_data.tickers[stock_ticker_symbols[i]].info["sector"])
#     except KeyError:
#         pass
#     except TypeError:
#         pass
#     else:
#         stock_ticker_symbols_filtered.append(stock_ticker_symbols[i])

In [ ]:
# # Save the sector data as a csv
# stock_sectors = pd.Series(data=sectors, index=stock_ticker_symbols_filtered)
# cat_features = pd.DataFrame(columns=stock_ticker_symbols, data=[stock_sectors])
# cat_features.index = ["sectors"]
# cat_features.to_csv("data/categorical.csv")
# cat_features

### 2.3.2 Numerical features  
Get leading and lagging indicators of the US economy from the OECD website.

In [6]:
# Date range for numerical features
first_date = datetime.strptime("1990-01-02", "%Y-%m-%d")
last_date = datetime.strptime("2022-12-27", "%Y-%m-%d")

In [7]:
# The below link provides data regarding BCI, CCI and CLI
leading_indicators = pd.read_csv(f"https://stats.oecd.org/SDMX-JSON/data/MEI_CLI/LOLITOAA+BSCICP03+CSCICP03.USA.M/all?startTime={first_date.year}-0{first_date.month}&endTime={last_date.year}-{last_date.month}&dimensionAtObservation=allDimensions&contentType=csv")

# Define a mapping for renaming the OECD indicators to more understandable terms
remap = {"BSCICP03": "BCI", # Business confidence indicator (BCI)
         "CSCICP03":"CCI", # Comsumer confidence indicator (CCI)
         "LOLITOAA":"CLI"} # Composite leading indicator (CLI)
leading_indicators.replace({"SUBJECT": remap},inplace=True)

# Drop unnecessary columns
leading_indicators = leading_indicators.drop(columns=["Subject",
                                                      "LOCATION",
                                                      "Country",
                                                      "FREQUENCY",
                                                      "Frequency",
                                                      "Time",
                                                      "Unit Code",
                                                      "Unit",
                                                      "PowerCode Code",
                                                      "PowerCode",
                                                      "Reference Period Code",
                                                      "Reference Period",
                                                      "Flag Codes",
                                                      "Flags"]
                                             ).set_index("TIME")

# Pivot the data
leading_indicators = leading_indicators.pivot(columns="SUBJECT", values="Value")

# Convert to datetime
leading_indicators.index = pd.to_datetime(leading_indicators.index)
leading_indicators

SUBJECT          BCI        CCI       CLI
TIME
1990-01-01  98.82436  100.65310  99.79373
1990-02-01  99.03704  100.63510  99.82406
1990-03-01  99.20514  100.70400  99.82319
1990-04-01  99.25802  100.75640  99.74741
1990-05-01  99.18168  100.62670  99.57516
...              ...        ...       ...
2022-08-01  99.77435   96.45789  99.35707
2022-09-01  99.54604   96.67233  99.18692
2022-10-01  99.31425   96.78461  99.04436
2022-11-01  99.09338   96.85036  98.93194
2022-12-01  98.91187   97.06593  98.86258

[396 rows x 3 columns]

In [8]:
# This link provides the remaining indicators regarding the US economy
other_indicators = pd.read_csv(f"https://stats.oecd.org/SDMX-JSON/data/KEI/PRINTO01+PRMNTO01+PRCNTO01+SLRTTO01+SLRTCR03+LOLITOAA+BSCICP02+LFEMTTTT+LCEAMN01+PIEAMP01+CPALTT01+MANMM101+MABMM301+IR+IRSTCI01+IR3TIB01+IRLTLT01.USA.ST.M/all?startTime={first_date.year}-0{first_date.month}&endTime={last_date.year}-{last_date.month}&dimensionAtObservation=allDimensions&contentType=csv")

# Drop unnecessary columns
other_indicators = other_indicators.drop(columns=["SUBJECT",
                                                "LOCATION",
                                                "Country",
                                                "MEASURE",
                                                "Measure",
                                                "FREQUENCY",
                                                "Frequency",
                                                "Time",
                                                "Unit Code",
                                                "Unit",
                                                "PowerCode Code",
                                                "PowerCode",
                                                "Reference Period Code",
                                                "Reference Period",
                                                "Flag Codes",
                                                "Flags"]
                                       ).set_index("TIME")

# Pivot the data
other_indicators = other_indicators.pivot(columns="Subject", values="Value")

# Convert to datetime
other_indicators.index = pd.to_datetime(other_indicators.index)

# Renaming the OECD indicators to more understandable terms
other_indicators.columns = ["3 month interbank rate",
                           "Broad money",
                           "Construction",
                           "Consumer prices",
                           "Manufacturing hourly earnings",
                           "Industrial production",
                           "Leading indicator",
                           "Long-term interest rate",
                           "Manufacturing confidence indicator",
                           "Narrow money",
                           "Overnight interbank rate",
                           "Car registrations",
                           "Manufacturing producer prices",
                           "Retail trade volume",
                           "Total employment",
                           "Total manufacturing"]

other_indicators

,3 month interbank rate,Broad money,Construction,Consumer prices,Manufacturing hourly earnings,Industrial production,Leading indicator,Long-term interest rate,Manufacturing confidence indicator,Narrow money,Overnight interbank rate,Car registrations,Manufacturing producer prices,Retail trade volume,Total employment,Total manufacturing
TIME,,,,,,,,,,,,,,,,
1990-01-01,8.16,26.291189,40.385124,53.751419,52.855468,61.105826,99.793732,8.21,-5.6,26.324891,8.23,138.407385,60.738345,67.509220,119081.0,61.244983
1990-02-01,8.22,26.394135,41.024431,54.004565,53.458382,61.667677,99.824056,8.47,-1.8,26.414251,8.24,125.908215,60.468876,66.675442,119059.0,62.080383
1990-03-01,8.35,26.484629,41.498263,54.299903,53.759839,61.961093,99.823185,8.59,-0.2,26.526779,8.28,126.359833,60.522770,66.538278,119203.0,62.382895
1990-04-01,8.42,26.580103,40.863316,54.384285,53.659354,61.815277,99.747416,8.79,0.0,26.679023,8.26,124.925284,60.684452,66.133992,118852.0,62.128573
1990-05-01,8.35,26.571801,39.556166,54.510858,53.960811,62.001339,99.575157,8.76,-1.0,26.616139,8.18,121.259215,60.953921,65.879515,119151.0,62.321634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-01,2.76,179.823331,165.368746,124.957703,126.360744,102.333127,99.357071,2.90,5.8,677.811334,2.33,37.856147,135.539747,121.410486,158758.0,100.151181
2022-09-01,3.21,178.705034,164.441767,125.226461,126.913415,102.624461,99.186923,3.52,2.0,671.228456,2.56,38.161652,135.828618,120.413240,158894.0,100.392831
2022-10-01,3.85,177.942068,163.864095,125.734441,127.516329,102.508581,99.044364,3.98,0.4,665.218147,3.08,40.313475,136.889787,121.530119,158729.0,100.525829
2022-11-01,4.46,177.659795,164.914074,125.607446,128.621671,102.170856,98.931939,3.89,-2.0,660.766679,3.78,40.765093,136.272164,119.539650,158485.0,99.776833
2022-12-01,4.51,177.318578,164.796803,125.221820,128.973371,100.598801,98.862579,3.62,-3.2,655.997485,4.10,37.603772,131.749933,118.042214,159300.0,97.682796

Finally, we combine the 2 sets of numerical features into a daily-frequency dataframe since the stock price data also has a daily frequency.

In [9]:
# Combine the two dataframes of numerical features
num_features_monthly = pd.concat([leading_indicators,
                              other_indicators], axis = "columns")

# Ensure alignment with stock data by adding a row for the last date with NaNs and then resample daily
num_features_monthly.loc[last_date,:] = [np.nan] * len(num_features_monthly.columns)
num_features_daily = num_features_monthly.resample("D").nearest()

# Removed an ambiguous indicator
num_features_daily = num_features_daily.drop(columns = ["Leading indicator"])

# Forward-fill NaN values to maintain continuous data for analysis
num_features_daily = num_features_daily.fillna(method="ffill")
num_features_daily.index.name = "Date"

# Save the dataframe as a CSV file
num_features_daily.to_csv("data/features.csv")

num_features_daily

,BCI,CCI,CLI,3 month interbank rate,Broad money,Construction,Consumer prices,Manufacturing hourly earnings,Industrial production,Long-term interest rate,Manufacturing confidence indicator,Narrow money,Overnight interbank rate,Car registrations,Manufacturing producer prices,Retail trade volume,Total employment,Total manufacturing
Date,,,,,,,,,,,,,,,,,,
1990-01-01,98.82436,100.65310,99.79373,8.16,26.291189,40.385124,53.751419,52.855468,61.105826,8.21,-5.6,26.324891,8.23,138.407385,60.738345,67.509220,119081.0,61.244983
1990-01-02,98.82436,100.65310,99.79373,8.16,26.291189,40.385124,53.751419,52.855468,61.105826,8.21,-5.6,26.324891,8.23,138.407385,60.738345,67.509220,119081.0,61.244983
1990-01-03,98.82436,100.65310,99.79373,8.16,26.291189,40.385124,53.751419,52.855468,61.105826,8.21,-5.6,26.324891,8.23,138.407385,60.738345,67.509220,119081.0,61.244983
1990-01-04,98.82436,100.65310,99.79373,8.16,26.291189,40.385124,53.751419,52.855468,61.105826,8.21,-5.6,26.324891,8.23,138.407385,60.738345,67.509220,119081.0,61.244983
1990-01-05,98.82436,100.65310,99.79373,8.16,26.291189,40.385124,53.751419,52.855468,61.105826,8.21,-5.6,26.324891,8.23,138.407385,60.738345,67.509220,119081.0,61.244983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,98.91187,97.06593,98.86258,4.51,177.318578,164.796803,125.221820,128.973371,100.598801,3.62,-3.2,655.997485,4.10,37.603772,131.749933,118.042214,159300.0,97.682796
2022-12-24,98.91187,97.06593,98.86258,4.51,177.318578,164.796803,125.221820,128.973371,100.598801,3.62,-3.2,655.997485,4.10,37.603772,131.749933,118.042214,159300.0,97.682796
2022-12-25,98.91187,97.06593,98.86258,4.51,177.318578,164.796803,125.221820,128.973371,100.598801,3.62,-3.2,655.997485,4.10,37.603772,131.749933,118.042214,159300.0,97.682796
2022-12-26,98.91187,97.06593,98.86258,4.51,177.318578,164.796803,125.221820,128.973371,100.598801,3.62,-3.2,655.997485,4.10,37.603772,131.749933,118.042214,159300.0,97.682796
2022-12-27,98.91187,97.06593,98.86258,4.51,177.318578,164.796803,125.221820,128.973371,100.598801,3.62,-3.2,655.997485,4.10,37.603772,131.749933,118.042214,159300.0,97.682796